<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4.xsd"
	version="4.0">
	<description>agent</description>
	<display-name>agent</display-name>
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>webapp.ynwsuperadmin</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:META-INF/service-context.xml
			classpath:META-INF/appDataSource.xml
			classpath:META-INF/persistence-context.xml

		</param-value>
	</context-param>



</web-app>