packages:
  yum:
   haproxy: [1.5.2]

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_restart_delayed_job.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      # Using similar syntax as the appdeploy pre hooks that is managed by AWS

      # Loading environment data
      EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
      EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)
      EB_APP_USER=$(/opt/elasticbeanstalk/bin/get-config container -k app_user)
      EB_APP_CURRENT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)
      EB_APP_PIDS_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_pid_dir)

      # Setting up correct environment and ruby version so that bundle can load all gems
      . $EB_SUPPORT_DIR/envvars
      . $EB_SCRIPT_DIR/use-app-ruby.sh

      # Now we can do the actual restart of the worker. Make sure to have double quotes when using env vars in the command.
      # For Rails 4, replace script/delayed_job with bin/delayed_job
      cd $EB_APP_CURRENT_DIR
      su -s /bin/bash -c "bundle exec script/delayed_job --pid-dir=$EB_APP_PIDS_DIR restart" $EB_APP_USER
      echo "Hello World after deployment!" >> /var/log/myscript.out
       mkdir /usr/share/tomcat8/webapps/agent
       cp -r  /usr/share/tomcat8/webapps/ROOT/* /usr/share/tomcat8/webapps/agent
      rm -rf /usr/share/tomcat8/webapps/ROOT/*
      echo "Hello World after agent deploy!" >> /var/log/myscript.out
  
  "/etc/rsyslog.d/haproxy.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
     $ModLoad imudp
     $UDPServerRun 514 
     $template Haproxy,"%msg%\n"
     local0.=info -/var/log/haproxy.log;Haproxy
     local0.notice -/var/log/haproxy-status.log;Haproxy
     ### keep logs in localhost ##
     local0.* ~

  "/etc/haproxy/haproxy.cfg":
    mode: "000755"
    owner: root
    group: root
    source: https://s3-us-west-1.amazonaws.com/nv.s3.bucket/beanstalkconfig/haproxy.cfg
    
  "/usr/share/tomcat8/conf/agent.properties":
    mode: "000755"
    owner: root
    group: root
    source: https://s3-us-west-1.amazonaws.com/nv.s3.bucket/beanstalkconfig/agent.properties

container_commands:
 # 01-command:
  #  command: mv /etc/haproxy/haproxy.cfg /etc/haproxy/haproxy.cfg.old
  #02-command:
   # command:  cp  .ebextensions/scripts/haproxy.cfg /etc/haproxy/haproxy.cfg
  03_restart_service:
    command: /sbin/service rsyslog restart
  04_per_haproxylog:
    command: chmod 777 /var/log/haproxy.log 
  05_per_haproxy_status_log:
    command: chmod 777 /var/log/haproxy-status.log 
  06_restart_service:
    command: /sbin/service haproxy restart
  07_restart_service:
    command: /sbin/service rsyslog restart